*{
    padding: 0;
margin: 0;
box-sizing: border-box;
}

:root{
    --blue: rgba(69, 143, 246, 1);
    --gray: rgba(31, 21, 52, 1);

}

body{
font-family: 'Mulish', sans-serif;
font-family: 'Roboto', sans-serif;
width: 80%;
margin: 0 auto;
overflow-x: hidden;
}

header{
    margin: 0 auto;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .open-slide{
    display: none;
}

.open-slide i{
    color: var(--blue);
}

header .side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right:0;
    background-color:var(--blue);
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.4s;
}

.side-nav .close-btn{
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px; 
    margin-right: 70%; 
}

.side-nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    color: black;
    font-size: 12px;
    transition: 0.3s;
}

.side-nav a:hover{
    transform: translate(0, -10px);
}

.logo{
    display: flex;
    align-items: center;
    flex: 1.5;
}

.logo i{
    background-color: var(--blue);
    padding: 6px;
    border-radius: 50%;
    color: white;
    margin-right: 0.5rem;
}
.logo img{
    width: 4rem;
}

nav{
    flex: 2;
}

nav ul{
display: flex;
justify-content: space-around;
list-style: none;
}

nav ul a{
    text-decoration: none;
 color: var(--gray);
 font-weight: 400;
 font-size: 12px;
}

.home{
    color: black;
}

/* section 1 */
.intro{
    display: flex;
    align-items: center;
    flex: 1;
}

.intro-text{
    margin-right: 50px;
}

.intro-text h1{
    font-weight: 700;
    font-size: 40px;
}
 .intro-text p{
    font-size: 12px;
    margin-top: 20px;
 }

 /* cta-btn */
.cta{
    display:block;
    text-decoration: none;
    padding: 10px;
    background-color: var(--blue);
    color: white;
    text-align: center;
    margin: 20px 0;
    width: 150px;
    border-radius: 20px;
 }

 .btn{
background-color: transparent;
color: var(--blue);
border: 1px solid var(--blue);
font-size: 12px;
 }

.intro-img{
    max-width: 500px;
}

.intro-img img{
    width: 100%;
}

/* services section */
.services{
    margin: 30px;
}
.services-intro{
    text-align: center;
}

.services-intro p{
  font-size: 12px; 
  margin-top: 20px; 
}

.services-grid{
    background-color: white;
    z-index: 100;
    box-shadow: 0 10px 10px -10px rgb(202, 200, 200);
    padding: 20px;
    align-items: center;
    border-radius: 10px;
}
.services-grid p{
    font-size: 12px;
}

.services-grid-img{
    /* max-width: 35px; */
    width: 35px;
    height: 35px;
    margin-bottom: 20px;
}

.services-grid-img img{
    width: 100%;
}
.services-img{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1.5rem;
   
}

.bg-element{
    position: absolute;
    left: -150px;
    top: 200px;
    opacity: 0.4;
    z-index: -100;
}

/*healthcare section*/
.healthcare, .mobile-app{
    display: flex;
    align-items: center;
    margin-top: 70px;
}

.health{
margin-right: 70px;
max-width: 500px;
}

.health img{
    width: 100%;
}

.healthcare-text h2, .mobile-text h2{
    text-align: left;
}
.healthcare-text p, .mobile-text p{
    font-size: 12px;
    margin-top: 20px;
}

.healthcare-text a{
    display: block;
}

/* mobile app section */
.mobile-img{
    max-width: 600px;
    margin-left: 70px;
}

.mobile-img img{
    width: 100%;
}

/* founder section */
.founder{
    width: 70%;
    margin: 30px auto;
    margin-top: 70px;
   background-image: linear-gradient(to right, rgba(69, 143, 246, 1), rgba(69, 143, 246, 0.5));
   padding: 25px;
   color: white;
   border-radius: 10px;
    
    /* linear-gradient(to right, var(--blue), rgba(69, 143, 246, 0.8)); */
}

.founder h2{
    text-align: center;
}

.founder-intro{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.founder-introtext{
    display: flex;
    margin-right: 50px;
    align-items: center;
    flex: 1;
}

.founder-img{
    max-width: 70px;
}

.founder-img img{
    width: 100%;
}
.founder-head{
    margin-left: 30px;
}

.founder-head p{
    font-size: 12px;
    margin-top: 5px;
}

.founder-text{
    flex: 1;
    font-size: 12px;
}

/* media queries */
@media (max-width:768px) {
header nav{
    display: none;
}

header .open-slide{
    display: contents;
}

.founder-intro{
    flex-direction: column;
}

.founder-text{
    margin-top: 15px;
}

}

@media (max-width: 576px){
body{
    overflow-x: hidden;
}

 .intro{
    flex-direction: column;
 }

 .intro-text{
    margin: 0 auto;
    /* text-align: center; */
 }

 .intro-img{
    max-width: 300px;
    margin: 15px auto;
 }

 .intro-img img{
width: 100%;
 }

 .services-img{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.services-grid-img{
    margin: 10px auto 25px;
}

.bg-element{
    /* opacity: 0.3;
    left: -250px;
    top: 400px; */
    display: none;
}

.btn{
    margin: 20px auto;
}

/* healthcare section */
.healthcare{
    flex-direction: column-reverse;
    margin-top: 20px;
}

.healthcare-text{
text-align: center;
}

.healthcare-text h2, .mobile-text h2{
    text-align: center;
}

.mobile-app{
    flex-direction: column;
    
}

.mobile-img, .health{
    display: block;
   margin: 0 auto;
}

.healthcare, .mobile-app{
    margin: 70px 0 0;
}

.founder{
    text-align: center;
}
.founder-introtext{
    flex-direction: column;
    margin: 0 auto;
}

.founder-head{
    text-align: center;
    margin: 0 auto;
}
.founder-img img{
    display: block;
    width: 50px;
    height: auto;
}
/* .founder-img img{
    width: 100%;
} */

}
